.home {
    overflow-x: hidden !important;
}

section {
    width: 100vw;
    overflow-x: hidden !important;
}

.firstSec {
    min-height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

.secondSec {
    min-height: 100vh;
}

.thirdSec {
    min-height: 100vh;
}

.forthSec {
    min-height: 100vh;
}

@media (max-width: 480px) {
    .forthSec {
        display: none;
    }
}

.fifthSec {
    min-height: 100vh;
    padding-bottom: 100px;
}

.sixthSec {
    min-height: 100vh;
    background-color: #f8f5ef;
}