.forthSec > div {
    overflow-y: scroll;
}

.forthSec > div h1 {
    color: #323130;
    font-family: "humane";
    font-size: 10vw;
}

.forthSec > div > div {
    position: relative;
}

.forthSec > div > div > div {
    width: 100%;
    min-height: 100vh;
    background-color: var(--strong);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
}

@media (max-width: 1670px) {
    .forthSec > div h1 {
        font-size: 13vw;
    }
}

@media (max-width: 1400px) {
    .forthSec > div h1 {
        font-size: 16vw;
    }
}

@media (max-width: 1200px) {
    .forthSec > div h1 {
        font-size: 19vw;
    }
}

@media (max-width: 1000px) {
    .forthSec > div h1 {
        font-size: 22vw;
    }
}

@media (max-width: 800px) {
    .forthSec > div h1 {
        font-size: 29.5vw;
    }
}

@media (max-width: 650px) {
    .forthSec > div h1 {
        font-size: 35vw;
    }
}
