.header {
    width: 100vw;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--weak);
    background-color: rgba(0, 0, 0, 0.7);
    padding-left: 5vw;
    padding-right: 7vw;
    transform: translateY(0);
    transition: transform 0.1s, background-color 2s;
}
.header:hover {
    background-color: var(--strong);
}
.header h1 {
    font-size: 4rem;
    font-family: "humane", sans-serif;
}

.header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header nav ul a {
    text-decoration: none;
    color: var(--weak);
    position: relative;
}

.header nav ul a::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--weak);
    transition: width 0.3s ease;
}
.header nav ul a:hover li {
    color: var(--highlight);
}
.header nav ul a:hover::before {
    width: 100%;
    background-color: var(--highlight);
}

.header > h2 {
    display: none;
    cursor: pointer;
}
.header > h2:hover {
    text-decoration: underline;
}
.header nav ul a li {
    color: var(--weak);
    font-size: 1.5rem;
    padding: 10px;
}

.smallNav {
    width: 100vw;
    height: 0;
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 99;
    background-color: var(--strong);
    transition: height 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    display: none;
}

.smallNav div {
    transition: transform 0.2s;
}

.smallNav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 10px;
}

.smallNav ul a {
    text-decoration: none;
}

.smallNav ul a li:hover {
    color: var(--highlight);
}

.smallNav ul a li {
    color: var(--weak);
    font-size: 1.2rem;
}

.smallNav h2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    cursor: pointer;
    color: var(--weak);
    position: relative;
    z-index: 1;
}
.smallNav h2:hover {
    text-decoration: underline;
}
.btn {
    width: 220px;
    height: 30px;
    background: none;
    color: #fdfdf1;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.btn span {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: top 0.5s;
}

.btn-text-one {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.btn-text-two {
    position: absolute;
    width: 100%;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
    color: var(--highlight);
    font-weight: bold;
}

.btn:hover .btn-text-one {
    top: -100%;
}

.btn:hover .btn-text-two {
    top: 50%;
}
.paste-button {
    position: relative;
    display: block;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.button {
    background: none;
    color: var(--weak);

    border: none;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 15px;
    font-size: 1.5rem;
    font-weight: normal;
    cursor: pointer;
    transition: all 0.2s;
}
.button span {
    transition: all 0.2s;
}
.smallNav .button {
    font-size: 1.2rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 99999999999999999999999999999999999999999999999999999999999;
    min-width: 150px;
    background-color: var(--strong);
    border: 2px solid var(--highlight);
    border-radius: 0px 15px 15px 15px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    text-align: right;
    font-size: 1rem;
    color: var(--weak);
    transition: 0.1s;
}

.dropdown-content a:hover {
    background-color: var(--highlight);
    color: #212121;
}

.dropdown-content a:focus {
    background-color: #212121;
    color: var(--highlight);
}

.dropdown-content #top:hover {
    border-radius: 0px 13px 0px 0px;
}

.dropdown-content #bottom:hover {
    border-radius: 0px 0px 13px 13px;
}

.paste-button:hover button {
    border-radius: 15px 15px 0px 0px;
}
.paste-button:hover button span {
    color: var(--highlight);
}

.paste-button:hover .dropdown-content {
    display: block;
}
.dropdown-content a::before {
    height: 0 !important;
    width: 0 !important;
}
.dropdown-content a:hover::before {
    width: 0 !important;
}
@media (max-width: 1300px) {
    .header nav ul a li {
        cursor: pointer;
    }
    .dropdown-content a {
        cursor: pointer;
    }
}

@media (max-width: 750px) {
    .header nav {
        display: none;
    }

    .header > h2 {
        display: block;
    }

    .smallNav {
        display: flex;
    }
}
