@font-face {
    font-family: "humane";
    src: url("./media/fonts/HUMANE-Typeface/OpenType-PS/Humane-SemiBold.otf");
}
@font-face {
    font-family: "rubik";
    src: url("./media/fonts/Rubik/Rubik-VariableFont_wght.ttf");
}
@font-face {
    font-family: "alef";
    src: url("./media/fonts/Alef/Alef-Bold.ttf");
}
@font-face {
    font-family: "aktiv";
    src: url("./media/fonts/Aktiv-Grotesk/AktivGrotesk-Hairline.otf");
}
::selection {
    background-color: red;
    color: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "rubik";
    cursor: auto;
    scroll-behavior: auto;
}
@media (min-width: 1300px) {
    * {
        cursor: none;
    }
}
.App {
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #242424;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
